*{
  font-size: 30px;
  justify-content: space-between;
  background-color: lightblue;
}
label{
  size: 30px;
}
#paragraph{
  font-family:'Old Standard TT', serif;
}
.images1{
display:flex;
justify-content: space-between;

}
#images{
  display:flex;
  justify-content: space-between;
  padding-top: 40px;
}
.jumbo{
  text-align: center;
  font-size: 50px;
}
span{
  color: aqua;
  text-align: center;
  font-size: 50px;
}
#card{
  align-content: center;
}
