*{
  text-align: center;
  font-size: 30px;
  justify-content: space-between;
  background-color: lightblue;
}
label{
  size: 30px;
}
#paragraph{
  font-family:'Old Standard TT', serif;
}
#images{
  display:flex;
  display: inline;
  justify-content: space-evenly;
}

